---
---
<!DOCTYPE html>
<head>
  <meta charset='utf-8' />
  <title>Government Digital Service on GitHub</title>
  <link rel="stylesheet" type="text/css" href="gds.css"></link>
</head>

<body>

  <h1>Government Digital Service</h1>

  <p id="intro">
    The UK Government Digital Service has a practice of
    <a href="https://gds.blog.gov.uk/2012/10/12/coding-in-the-open/">Coding In The Open</a>.
    That means a lot of public repositories end up on
    <a href="https://github.com/alphagov">our GitHub account</a>.
    Those repositories can be hard to navigate so we're assembling a guide here.
  </p>

  {% for group in site.groups %}
    <section class="gds-group">

      <h2>{{ group[1].name }}</h2>

      {% if group[1].bio %}
        <p>{{ group[1].bio }}</p>
      {% endif %}

      {% for repo in group[1].repos %}
        {% comment %}
          Iterate over all alphagov repos each time we try to output a repo.
          We do this because there's no way to select an element from an array with Liquid.
        {% endcomment %}
        {% for alphagov_repo in site.github.public_repositories %}
          {% if alphagov_repo.name == repo %}
            <div class="repo">
              <a href="{{ alphagov_repo.html_url }}">
                <h3>{{ alphagov_repo.name }}</h3>
              </a>
              <p>{{ alphagov_repo.description }}</p>
              <p>Created in {{ alphagov_repo.created_at | date: '%B %Y' }}, last updated in {{ alphagov_repo.updated_at | date: '%B %Y' }}. Written in {{ alphagov_repo.language }}.</p>
            </div>
          {% endif %}
        {% endfor %}
      {% endfor %}

    </section>
  {% endfor %}

  <aside>

    <h2>
      Who is this code by?
    </h2>

    <p>
      This is the GitHub account of the Government Digital Service, a unit of the UK government's
      Cabinet Office tasked with delivering digital by default. For more on GDS and the
      UK government's digital strategy <a href="https://gds.blog.gov.uk/">see the GDS blog</a>.
    </p>

    <h2>
      Why ‘alphagov’?
    </h2>

    <p>
      <a href="http://alpha.gov.uk/">Alpha.gov.uk</a> was the proof of concept that demonstrated
      that the GOV.UK project (and the Government Digital Service with it) could work.
      It was launched in May 2011 and remained live until the beta of GOV.UK launched
      at the end of January 2012. This GitHub account was set up for that project and
      then became the main account for the Government Digital Service.
    </p>

    <p>
      We use the <a href="https://gds-attic.github.io/">GDS attic GitHub account</a> to store
      repositories that we've used in the past but no longer maintain.
    </p>

  </aside>

</body>
