/* =============================================
   Contact sheet
   ============================================= */

/*
 * Based on this one: http://www.brunildo.org/test/img_center.html
 * Updated to use HTML5 elements and modern IE targeting
 */

.contact-sheet li {
	border: 1px solid #e8f0f0;
	display: -moz-inline-box;
	display: inline-block;
	margin: 0 1em 1em 0;
	padding: 0;
	text-align: center;
	vertical-align: top;
}

.contact-sheet>li .image-container {
	display: table-cell;
	height: 10em;
	vertical-align: middle;
	width: 10em;
}

.contact-sheet a {
	color: #000;
	cursor: pointer;
	display: block;
	text-decoration: none;
}

.contact-sheet a:hover {
	background-color: #d5e8f3;
}

.contact-sheet li>figure {
	display: table;
	margin: 0;
	width: 9em;
}

.contact-sheet img {
	vertical-align: middle;
}

.contact-sheet figcaption {
	background: #e8f0f0;
	display: block;
	padding: .5em;
}

/* =============================================
   Old versions of IE
   ============================================= */

/*
   No prefix = IE8 and below
   *  prefix = IE7 and below
   _  prefix = IE6 and below
*/

.lte-ie8 .contact-sheet {
	*display: inline;
	*zoom: 1;
	_height: 0;
}

.lte-ie8 .contact-sheet li {
	*display: inline;
	*width: 201px;
}

.lte-ie8 .contact-sheet li .image-container {
	*display: block;
	*height: auto;
	*width: auto;
	_font-size: 1px;
}

.lte-ie8 .contact-sheet .image-container span {
	*height: 199px;
	*vertical-align: middle;
	*zoom: 1;
	_display: inline-block;
	_width: 1px;
}